<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="admin/_fragments :: head(~{::title})">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Console</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
        <link rel="stylesheet" href="../../static/css/me.css">
    </head>
    <body>
        <!--导航-->
        <nav th:replace="admin/_fragments :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
            <div class="ui container">
                <div class="ui inverted secondary stackable menu">
                    <h2 class="ui teal header item">管理后台</h2>
                    <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>博客</a>
                    <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
                    <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
                    <div class="right m-item menu m-mobile-hide">
                        <div class="ui dropdown item">
                            <div class="text">
                                <img src="../../static/images/enno.jpg" alt="" class="ui avatar image">
                                Enno
                            </div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a href="#" class="item">注销</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
                <i class="sidebar icon"></i>
            </a>
        </nav>


        <br>
        <br>
        <br>
        <br>
        <br>
        <!--中间内容-->


        <div class="m-container-small m-padded-tb-big">
            <div class="ui container">
                <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                    <i class="close icon"></i>
                    <div class="header">Note:</div>
                    <p th:text="${message}">Congratulations, the operation is successful!</p>
                </div>
                <table class="ui celled compact teal table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Tag Name</th>
                        <th>Operation</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tag,iterStat : ${page.content}">
                        <td th:text="${iterStat.count}">1</td>
                        <td th:text="${tag.name}">刻意练习清单</td>
                        <td>
                            <a href="#" th:href="@{/admin/tags/{id}/input(id=${tag.id})}" class="ui mini teal basic button">Edit</a>
                            <a href="#" th:href="@{/admin/tags/{id}/delete(id=${tag.id})}" class="ui mini red basic button">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="6">
                            <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                                <a th:href="@{/admin/tags(page=${page.number}-1)}" class="  item" th:unless="${page.first}">Last Page</a>
                                <a th:href="@{/admin/tags(page=${page.number}+1)}" class=" item" th:unless="${page.last}">Next Page</a>
                            </div>
                            <a href="#" th:href="@{/admin/tags/input}" class="ui mini right floated teal basic button">Add new tag</a>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>



        <!--底部footer-->
        <footer th:fragement="footer" class="ui inverted vertical segment m-padded-tb-massive">
            <div class="ui center aligned container">
                <div class="ui inverted divided stackable grid">
                    <div class="three wide column">
                        <div class="ui inverted link list">
                            <div class="item">
                                <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" class="ui rounded image" alt="" style="width: 110px;">
                            </div>
                        </div>
                    </div>
                    <div class="three wide column" >
                        <h4 class="ui inverted header m-text-thin m-text-spaced" th:text="#{footer.latestBlog}">最新博客</h4>
                        <div id="newblog-container">
                            <div class="ui inverted link list" th:fragment="newblogList">
                                <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item m-text-thin" th:each="blog : ${newblogs}" th:text="${blog.title}">用户故事（User Story）</a>
                                <!--/*-->
                                <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                                <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                                <!--*/-->
                            </div>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header m-text-thin m-text-spaced" th:text="#{footer.contact}">联系我</h4>
                        <div class="ui inverted link list ">
                            <a href="#" class="item" th:text="#{index.email}">hi.xiaolonghuang@gmail.com</a>
                            <a href="#" class="item">Auckland, New Zealand</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header m-text-thin m-text-spaced">Enno's Blog</h4>
                        <p class="m-text-thin m-text-spaced m-opacity-tiny" th:text="#{footer.describe}">这是我的个人博客，我会分享关于编程的任何内容，希望可以给来到这里的人一些帮助</p>
                    </div>
                </div>
                <div class="ui inverted section divider"></div>
                <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright © 2017-2018 JUST4FUN</p>
            </div>
        </footer>


        <!--/*/<th:block th:replace="_fragments :: script">/*/-->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
        <!--/*/</th:block>/*/-->

        <script>
            $('.menu.toggle').click(function () {
                $('.m-item').toggleClass('m-mobile-hide');
            });

            $('.ui.dropdown').dropdown({
                on : 'hover'
            });

            //消息提示关闭初始化
            $('.message .close')
                .on('click', function () {
                    $(this)
                        .closest('.message')
                        .transition('fade');
                });
        </script>
    </body>
</html>